<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materiais</title>
    <!-- Adicionando Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Centralizar verticalmente o checkbox */
        .checkbox-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        /* Aumenta o tamanho do checkbox */
        .checkbox-container input[type="checkbox"] {
            transform: scale(1.5);
        }

        /* Efeito hover na linha da tabela */
        #materiaisTable tbody tr:hover {
            background-color: #d6dce4;
            /* Cinza claro */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Materiais</h1>

        <!-- Formulário para filtrar por categoria e pesquisar -->
        <form id="filtroForm" class="mb-3">
            <div class="row">
                <div class="col-md-4">
                    <label for="categoriaSelect">Filtrar por Categoria:</label>
                    <select id="categoriaSelect" class="form-control">
                        <option value="">Todas as Categorias</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label for="pesquisaInput">Pesquisar:</label>
                    <div class="input-group">
                        <input type="text" id="pesquisaInput" class="form-control"
                            placeholder="Digite o termo de pesquisa">
                        <div class="input-group-append">
                            <button type="button" id="pesquisarBtn" class="btn btn-primary" onclick="filtrar()">
                                Pesquisar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Tabela de Materiais -->
        <table id="materiaisTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Selecionar</th>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Unidade de Medida</th>
                    <th>Quantidade</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                <% materiais.forEach(material=> { %>
                    <tr onclick="selecionarMaterial(this)">
                        <td class="checkbox-container"><input type="checkbox" class="form-check-input"></td>
                        <td>
                            <%= material.id_material %>
                        </td>
                        <td>
                            <%= material.descricao_material %>
                        </td>
                        <td>
                            <%= material.unid_medida_material %>
                        </td>
                        <td>
                            <%= material.quantidade_material %>
                        </td>
                        <td>
                            <%= material.categoria.descricao_categoria %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" onclick="salvarMaterialSelecionado()">Selecionar</button>

    </div>

    <!-- Adicionando Bootstrap JS e jQuery (necessário para funcionalidades do Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Carregar categorias ao carregar a página
        window.onload = async function () {
            const response = await fetch('/categorias');
            const categorias = await response.json();

            const categoriaSelect = document.getElementById('categoriaSelect');
            categorias.forEach(categoria => {
                const option = document.createElement('option');
                option.value = categoria.descricao_categoria;
                option.textContent = categoria.descricao_categoria;
                categoriaSelect.appendChild(option);
            });









        };


        function selecionarMaterial(linha) {
            const checkbox = linha.querySelector('input[type="checkbox"]');
            const isChecked = checkbox.checked;

            // Verifica se a linha já está selecionada
            const isSelected = linha.classList.contains('selecionado');

            if (isSelected) {
                // Se a linha já estiver selecionada, desmarca o checkbox e remove a classe 'selecionado'
                checkbox.checked = false;
                linha.classList.remove('selecionado');
            } else {
                // Se a linha não estiver selecionada, remove a seleção de todas as outras linhas e desmarca os checkboxes
                const linhas = document.querySelectorAll('#materiaisTable tbody tr');
                linhas.forEach(outraLinha => {
                    outraLinha.classList.remove('selecionado');
                    outraLinha.querySelector('input[type="checkbox"]').checked = false;
                });

                // Marca a linha atual como selecionada e marca o checkbox
                linha.classList.add('selecionado');
                checkbox.checked = true;
            }
        }

        //------------ARRUMAR FILTRO POR CATEGORIA---------------
        function filtrar() {
            const categoriaValue = document.getElementById('categoriaSelect').value
            const categoriaSelecionada = document.getElementById('categoriaSelect').value.toLowerCase();
            const termoPesquisa = document.getElementById('pesquisaInput').value.trim().toLowerCase();

            const linhas = document.querySelectorAll('#materiaisTable tbody tr');
            linhas.forEach(linha => {
                const categoria = linha.querySelector('td:nth-child(6)').textContent.toLowerCase();
                const descricao = linha.querySelector('td:nth-child(3)').textContent.toLowerCase();

                const categoriaOption = document.querySelector(`#categoriaSelect option[value="${categoriaValue}"]`).textContent.toLowerCase();

                if ((categoria === categoriaOption || categoriaSelecionada === '') &&
                    (descricao.includes(termoPesquisa) || termoPesquisa === '')) {
                    linha.style.display = '';
                } else {
                    linha.style.display = 'none';
                }
            });
        }


        function salvarMaterialSelecionado() {

            var tipo_movimentacao = "<%= tipo_movimentacao %>"


            // Encontrar a linha selecionada
            const linhaSelecionada = document.querySelector('#materiaisTable tbody tr.selecionado');

            // Verificar se uma linha foi selecionada
            if (linhaSelecionada) {
                // Capturar os dados da linha selecionada
                const idMaterial = linhaSelecionada.querySelector('td:nth-child(2)').textContent.trim().replace(/\n/g, '');
                const descricaoMaterial = linhaSelecionada.querySelector('td:nth-child(3)').textContent.trim().replace(/\n/g, '');
                const unidadeMedida = linhaSelecionada.querySelector('td:nth-child(4)').textContent.trim().replace(/\n/g, '');

                // Criar um objeto com os dados
                const materialSelecionado = {
                    id_material: idMaterial,
                    descricao_material: descricaoMaterial,
                    unidade_medida_material: unidadeMedida
                };

                // Verificar se já existe um material salvo no sessionStorage
                const materialExistente = JSON.parse(sessionStorage.getItem('material'));

                if (materialExistente) {
                    // Se já existe um material salvo, substituir os valores
                    sessionStorage.setItem('material', JSON.stringify(materialSelecionado));

                } else {
                    // Se não existe um material salvo, salvar o novo material
                    sessionStorage.setItem('material', JSON.stringify(materialSelecionado));

                }

            } else {
                // Se nenhuma linha foi selecionada, exibir uma mensagem de erro
                alert('Nenhum material selecionado. Por favor, selecione uma linha antes de clicar em "Selecionar".');
            }

            window.location.href = `/movimentacoes/${tipo_movimentacao}/itens_movimentacao`;




            
        }






    </script>
</body>

</html>